
h5{
    font-family: $letra1;
}

label{
    font-family: $letra1;
}

h2{
    font-family: $letra1;

    font-size: 30px;

    padding: 10px;

}

h4{
    font-family: $letra2;
    padding: 10px;
}

p {
    padding: 10px;
    font-family: $letra2;
    font-size: 1.5rem;
    text-align: center;
}

body{
    background-color: #9AAAAC;
}
h5{
    font-family: $letra2;
    padding: 10px;
    text-align: center;
}